body {
  background-color: red;
  background: url("@img/y1k0lzdsvnj5yqkdjfpi.jpeg");
}

@media (max-width: 786px) {
  span {
    font-size: 50px;
  }
}

@media (max-width: 786px) {
  span {
    background-color: green;
  }
}
